@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: meow;
  src: url(font/DenimVF.woff);
}

@layer utilities {
     .text-stroke {
          color: white; 
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -webkit-text-stroke: 10px white;
        }
}

[data-scroll-container] {
  transform: translate3d(0, 0, 0);
}

*{
  font-family: meow;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar-track{
  background-color:red;
}

.quotes{
  -webkit-text-stroke: 1px white;
  color: transparent;
}